<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>顾客管理</title>
	<!-- bootstrap -->
	<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
	<!-- vue -->
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
	<!-- axios -->
	<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
</head>
<body>
	<!-- 模板 -->
	<div id="address">
		<h2>{{name}}</h2>
		{{address}}
		<form class="form-inline" action="" v-on:submit.prevent="submitHandler">
			<div class="form-group">
				<label for="">顾客id</label>
				<input class="form-control" type="text" v-model="address.realname">
			</div>
			<div class="form-group">
				<label for="">省份</label>
				<input class="form-control" type="text" v-model="address.telephone">
			</div>
			<input class="btn btn-primary" type="submit" value="提交">
		</form>
		<table class="table">
			<thead>
				<tr>
					<th>编号</th>
					<th>姓名</th>
					<th>手机</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<!-- 这里的item可任意取名 -->
				<tr v-for="item in addresss">
					<td>
						<!-- v-bind绑定属性 -->
						<input type="checkbox" v-bind:value="item.id">
					</td>
					<td>{{item.realname}}</td>
					<td>{{item.telephone}}</td>
					<td>{{item.status}}</td>
					<td>
						<!-- 这里的item.id在解析函数的时候顺便解析了 -->
						<!-- v-on绑定事件 -->
						<a href="" v-on:click.prevent="deleteHandler(item.id)">删除</a>
						<a href="" v-on:click.prevent="saveHandler(item)">修改</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- vue对象 -->
	<script>
		axios.defaults.headers.common["Content-Type"]="application/x-www-form-urlencoded";
		axios.defaults.transformRequest = [(data)=>{
			let str = "";
			for(let key in data){
				let val  = data[key];
				str += (key+"="+val+"&");
			}
			return str.slice(0,str.length-1);
		}]
		new Vue({
			el:"#address",
			data:{
				name:"地址管理",
				addresss:[],
				address:{}
			},
			methods:{
				saveHandler(address){
					this.address = address;
				},
				//保存数据操作
				async submitHandler(){
					let response = await axios.post("http://39.105.108.131:6677/address/saveOrUpdate",this.address);
					alert(response.data.message);
					this.address = {};
					this.reloadData();
				},
				//重载数据
				reloadData(){
					axios.get("http://39.105.108.131:6677/address/findAll")
					.then((response)=>{
						//将返回结果赋值给addresss
						this.addresss = response.data.data;
					})
				},
				// Genertor函数语法糖 删除数据操作
				async deleteHandler(id){
					let response  = await axios.get("http://39.105.108.131:6677/address/deleteById",{params:{id}});
					alert(response.data.message);
					this.reloadData()
				}
			},
			//在这个阶段可以通过this访问message
			created(){
				this.reloadData();
			}
		})
	</script>
</body>
</html>