* {
    margin: 0;
    padding: 0;
}

a {
    background: transparent;
    color: #FFF;
}

a:active {
    outline: 0;
}

button {
    background-color: transparent;
    border: none;

}

button:hover {
    cursor: pointer;
}

li,
ul {
    list-style: none;
}

.center {
    text-align: center;
    color: #fff;
    margin: 0 auto;
}

.signIn {
    padding: 1em 0;
}

.signIn p {
    color: #c7dbdf;
    font-style: italic;
}

.signIn div {
    font-size: 12px;
    line-height: 2em;
}

.giftP div:nth-child(2) ul,
.discount div:last-child ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.giftP div:nth-child(2) li {
    width: 116px;
    height: 172px;
}

.giftP div:nth-child(2) li div {
    width: 100%;
    height: 120px;
}

.giftP div:first-child img,
.discount div:first-child img {
    width: 100%;
}

.giftP div:nth-child(2) li p {
    font-size: 11px;
}

.giftP div button {
    background: url('../images/an_02.jpg') no-repeat;

}

.discount div:nth-child(2) div button {
    background: url('../images/an_04.jpg') no-repeat;
}

.discount div:nth-child(3) li button {
    background: url('../images/an_05.jpg') no-repeat;
}

.discount div:nth-child(2) p {
    color: #c7dbdf;
    padding: 10px 0;
    font-style: italic;
}

.discount div:nth-child(2) span {
    color: #fff;
    font: italic bold 18px/1em '';
}

.discount div div a {
    font-size: 12px;
}

.discount div:nth-child(2) p~p {
    font-style: normal;
    font-size: 10px;
}

.discount div:last-child li {
    width: 150px;
    height: 235px;
    padding: 0 20px;
}

.discount div:last-child li>div:first-child {
    background: url('../images/pc2_15.jpg') no-repeat;
    background-size: 100% 100%;
    height: 150px;
    box-sizing: border-box;
    padding: 32px 30px 0;
}

.discount div:last-child li>div:first-child div {
    background: url('../images/ydj_01.jpg') no-repeat;
    /*background-size: 440% auto;*/
    background-size: 343px 174px;
    height: 65px;
    width: 90px;
    display: inline-block;
    background-position: 0 0px;
}

.discount div:last-child li:nth-child(2)>div:first-child div {
    background-position: -123px -6px;
}

.discount div:last-child li:nth-child(3)>div:first-child div {
    background-position: -248px -6px;
}

.discount div:last-child li:nth-child(4)>div:first-child div {
    background-position: 0px -92px;
}

.discount div:last-child li:nth-child(5)>div:first-child div {
    background-position: -122px -94px;
}

.discount div:last-child li:nth-child(6)>div:first-child div {
    background-position: -246px -94px;
}

.discount div:last-child li>div:first-child p {
    font-size: 10px;
    color: #c7dbdf;
    padding-top: 7px;
}

.discount .price p:first-child {
    padding: 0;
    text-decoration-line: line-through;
    color: #fff;
    font: normal bold 9px/1em '';
}

.discount .price p:nth-child(2) {
    padding: 5px 0;
    color: #fddc6c;
    font-weight: bold;
}

.discount .price button img {
    width: 65%;
}

.discount div:nth-child(3) li {
    position: relative;
}

.discount div:nth-child(3) li div:nth-child(3) {
    position: absolute;
    top: -36px;
    left: 5px;
    background-color: rgba(12, 20, 34, 0.6);
    border-radius: 8px;
    padding: 5px 10px;
    display: none;
}

.discount div:nth-child(3) li div:nth-child(3) p {
    color: #fdf1e1;
    font-size: 10px;
    line-height: 1.5em;
}

.discount div:nth-child(3) li div:nth-child(3) div {
    background-color: rgba(12, 20, 34, 0.6);
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    position: absolute;
    left: 84px;
}
.discount div:nth-child(3) li div:nth-child(1):hover~.hidden{
	display: block;
}
footer .f_con p {
    color: #522219;
    display: inline-block;
}

footer .f_title {
    padding: 20px 0 10px;
}

footer .f_title>div {
    background: url('../images/dbt_01.jpg') no-repeat;
    display: inline-block;
    /*background-size: 100% 100%;*/
}

footer .f_con li>div:first-child {
    background: url('../images/db_07.jpg') no-repeat;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: 33px 16px;
    margin-right: 5px;
}

footer .center .f_con li {
    text-align: left;
}

footer .center .f_con li::after {
    display: block;
    clear: both;
    content: '';
}

footer .center .f_con li>div {
    float: left;
}

footer .center .f_con li>div:last-child {
    width: 90%;
}

footer .center .f_con img {
    width: 60%;
}

footer .center .f_con p {
    font-size: 10px;
    color: #522219;
    display: inline-block;
    font-style: italic;
}


@media screen and (min-width: 768px) and (max-width: 1920px) {
    .container {
        width: 1000px;
        margin: 0 auto;
    }

    header {
        background: url('../images/1_01.jpg') no-repeat;
        background-size: 1000px auto;
        height: 359px;
    }

    article {
        background: url('../images/1_02.jpg') no-repeat;
        background-size: 1000px auto;
        height: 1133px;
    }

    footer {
        background: url('../images/1_03.jpg') no-repeat;
        background-size: 1000px auto;
        height: 203px;
    }



    .logo {
        padding: 13px 0 0 245px;
    }

    .logo img {
        width: 25%;
    }

    .center {
        width: 590px;
    }

    .giftP div:nth-child(2) li p {
        font-size: 11px;
        padding: 14px 0;
    }

    .giftP div.g_title,
    .discount .d_title {
        padding: 0 70px;
    }

    .giftP div:last-child {
        padding: 18px 0;
    }

    .giftP div button,
    .discount div:nth-child(2) div button {
        width: 200px;
        height: 63px;
    }

    .discount div:nth-child(3) li button {
        width: 100px;
        height: 31px;
    }

    .giftP div button {
        background-size: 210px 150px;
        background-position: -8px -6px;
    }

    .discount div:nth-child(2) div button {
        background-size: 210px 150px;
        background-position: -8px -6px;
    }

    .discount div:nth-child(3) li button {
        background-size: 210px 150px;
        background-position: -58px -16px;
    }

    .giftP div button:active {
        background-position: -8px -82px;
    }

    .discount div:nth-child(2) div button:active {
        background-position: -8px -78px;
    }

    .discount div:nth-child(3) li button:hover {
        background-position: -58px -60px;
    }

    .discount div:nth-child(3) li button:active {
        background-position: -58px -104px;
    }

    footer .f_title div {
        width: 50%;
        height: 40px;
        background-position: -3px -2px;
        background-size: 100% 188%;
    }

    footer .f_con ul {
        padding-left: 33px;
    }

    footer .center .f_con li>div {
        height: 15px;
    }

    footer .center .f_con li>div:last-child {
        width: 95%;
    }

    footer .f_con li>div:first-child {
        background-position: -1px 0px;
    }
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .container {
        width: 100%;
        height: 100%;
    }

    header {
        background: url('../images/yd_01.jpg') no-repeat;
        background-size: 100% 100%;
        height: 303px;
    }

    article {
        background: url('../images/yd_02.jpg') no-repeat;
        background-size: 100% 100%;
        height: 1407px;
    }

    footer {
        background: url('../images/yd_03.jpg') no-repeat;
        background-size: 100% 100%;
        height: 297px;
    }

    .signIn p {
        font-size: 12px;
    }

    .signIn div {
        font-size: 10px;
    }

    .logo {
        padding: 13px 0 0 22px;
    }

    .logo img {
        width: 48%;
    }

    .giftP div:nth-child(2) li {
        width: 30%;
    }

    .discount div:last-child li {
        width: 40%;
        padding: 0 6px;
        height: 218px;
    }

    .giftP div button,
    .discount div:nth-child(2) div button {
        width: 200px;
        height: 53px;
    }

    .discount div:nth-child(3) li button {
        width: 100px;
        height: 31px;
    }

    .giftP div button {
        background-size: 210px 137px;
        background-position: -8px -9px;
    }

    .discount div:nth-child(2) div button {
        background-size: 210px 150px;
        background-position: -8px -14px;
    }

    .discount div:nth-child(3) li button {
        background-size: 210px 150px;
        background-position: -58px -16px;
    }

    .giftP div button:visited,
    .discount div:nth-child(2) div button:active {
        background-position: -8px -82px;
    }

    .discount div:nth-child(3) li button:active {
        background-position: -58px -60px;
    }

    .discount div:nth-child(3) li button:hover {
        background-position: -58px -104px;
    }

    footer .f_title div {
        width: 272px;
        height: 36px;
        background-position: -20px -39px;
        background-size: 302px 66px;
    }

    footer .center .f_con li {
        height: auto;
        padding: 0 20px;
    }

    footer .f_con li>div:first-child {
        background-position: -17px 0px;
    }

    .discount div:nth-child(3) li div:nth-child(3) {
        top: -19%;
        left: -6%;
        padding: 5px 0px;
        width: 102%;
    }

    
}